
<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <div class="container">
                <div class="card my-3">
                    <div class="card-header">
                        <h2>
                            <%=pergunta.titulo%>
                        </h2>
                    </div>
                    <div class="card-body">
                        <p>
                            <%=pergunta.descricao%>
                        </p>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        <h4>Responder</h4>
                    </div>
                    <div class="card-body">
                        <form action="/responder" method="POST">
                            <textarea class="form-control my-3" name="corpo" id="corpo"
                                placeholder="Digite sua resposta"></textarea>
                            <button class="btn btn-primary">Enviar Resposta</button>
                            <input type="text" name="idpergunta" hidden value="<%=pergunta.id%>" id="idpergunta">
                        </form>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <h3>RESPOSTAS</h3>
                    </div>
                    <div class="card-body">
                        <ol>
                        <%respostas.forEach((resposta)=>{%>
                            <li>
                                <%=resposta.corpo%>
                            </>
                            <%})%>
                        </ol>
                </div>

            </div>
    </body>

    <%- include('./partials/footer.ejs')%>