<%- include('../../partials/header.ejs')%>

    <body>
        <%- include('../../partials/navbar.ejs')%>
            <div class="container">
                <h1>Artigos</h1>
                <a class="btn btn-success" href="/admin/articles/new">Criar novo Artigo</a>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titulo</th>
                            <th>Slug</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%artigos.forEach((artigo)=>{%>
                            <tr>
                                <td>
                                    <%=artigo.id%>
                                </td>
                                <td>
                                    <%=artigo.title%>
                                </td>
                                <td>
                                    <%=artigo.slug%>
                                </td>
                                <td>
                                    <%=artigo.category.title%>
                                </td>
                                <td>
                                    <a href="/admin/articles/edit/<%=artigo.id%>" class="btn btn-sm btn-warning">Editar</a>
                                    <form action="/articles/delete" method="POST" style="display: inline;"
                                        onsubmit="confirmarDelecao(event)">
                                        <input hidden type="text" name="id" id="id" value="<%=artigo.id%>">
                                        <button class="btn btn-sm btn-danger">Deletar</button>
                                    </form>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
    </body>
    <%- include('../../partials/footer.ejs')%>


        <script>
            function confirmarDelecao(event) {
                event.preventDefault()
                if (confirm('Deseja deletar esse Artigo?')) {
                    event.target.submit()
                }
            }
        </script>