<%- include('../../../views/partials/header.ejs')%>

    <body>
        <%- include('../../../views/partials/homenavbar.ejs')%>
            <div class="container">
                <div class="card my-3">
                    <div class="card-header">
                        <h3>Artigos</h3>
                    </div>
                    <div class="card-body">
                       <%if(result.articles.rows.length == 0){%>
                        <h6>Não há mais artigos</h6>
                        <%}%>
                        <%result.articles.rows.forEach((article)=>{%>
                           <div class="card my-2">
                            <div class="card-body">
                                <h6>
                                    <%=article.title%>
                                </h6>
                                <a href="/<%=article.slug%>"><button class="btn btn-sm btn-primary">Ler Artigo</button></a>
                            </div>
                           </div>

                            <%})%>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col col-12">

                       
                            <%if(result.page != 1){%>
                                <a style="float:left" href="/articles/page/<%=result.page - 1%>"><<< Página Anterior</a>
                                <%}%>
                           

                        <%if(result.next){%>
                        <a style="float:right" href="/articles/page/<%=result.page + 1%>">Próxima Página >>></a>
                        <%}%>

                    </div>
                </div>
            </div>
    </body>
    <%- include('../../../views/partials/footer.ejs')%>