<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <div class="container">
                <div class="text-center">
                    <h1>Perguntas cadastradas</h1>
                    <%perguntas.forEach((pergunta)=>{%>
                        <div class="card my-3">
                            <div class="card-body">
                                <h3>
                                    <%=pergunta.titulo%>
                                </h3>
                                <%=pergunta.descricao%>
                            </div>
                            <div class="card-footer">
                                <a href="/responder/<%=pergunta.id%>"><button class="btn btn-primary">Responder
                                        pergunta</button></a>
                            </div>
                        </div>
                        <%})%>
                </div>
            </div>
    </body>
    <%- include('./partials/footer.ejs')%>