<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <div class="container">
                <div class="card my-3">
                    <div class="card-header">
                        <h1>Responda a pergunta</h1>
                        <hr>
                        <h3><%=pergunta.titulo%></h3>
                        <h5><%=pergunta.descricao%></h5>
                        <hr>
                    </div>
                    <div class="card-body">
                        <form action="/salvarresposta" method="POST">                          
                            <label for="descricao">Resposta</label>
                            <textarea class="form-control" name="descricao" id="descricao" placeholder="Digite a sua resposta"></textarea>
                            <input type="text" name="idpergunta" id="idpergunta" value="<%=pergunta.id%>" hidden>
                            <button class="btn btn-primary mt-3">Enviar Resposta</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1>Respostas</h1>
                    </div>
                    <div class="card-body">
                        <ol>
                        <%respostas.forEach((resposta)=>{%>
                            <li><%=resposta.descricao%></li>
                            <%})%>
                        </ol>
                    </div>
                </div>
            </div>
    </body>
    <%- include('./partials/footer.ejs')%>